ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
ion-content{
    --background: var(--ion-color-background);
    --padding-start: 15px;
    --padding-top: 25px;
    --padding-end: 15px;
}
.app-logo-div{
    margin: 10px 0px 45px 0px;
    display: flex;
    align-items: center;
    img{
        width: 12%;
    }
    h3{
        color: var(--background-top-header-text);
        font-family: 'maven-exbold';
        font-size: 20px;
        margin: 0px 0px 0px 7px;
    }
}
.sms-verif-txt{
    font-size: 17px;
    font-family: 'roboto-medium';
    color: var(--background-top-header-text);
    margin: 25px 15px 12px 6px;
    display: flex;
    align-items: center;
    svg{
        width: 16px;
        height: 16px;
        fill: var(--background-top-header-text);
        margin-right: 6px;
    }
}
.sms-verif-txt-2{
    font-size: 12px;
    font-family: 'roboto-regular';
    color: var(--background-top-header-text);
    margin: 10px 15px 2em 6px;
}
.mobile-number-div{
    ion-button{
        --background: none;
        --box-shadow: none;
        color: var(--background-top-header-text);
        font-size: 15px;
        font-family: 'roboto-medium';
        width: 56px;
        border-bottom: 1px solid #aeaeae;
        height: 50px;
        svg{
            width: 18px;
            min-width: 18px;
            fill: var(--background-top-header-text) !important; 
        }
    }
    ion-input{
        height: 50px;
        font-size: 15px;
        font-family: 'roboto-regular';
        color: var(--background-top-header-text);
        --padding-start: 10px;
        --padding-end: 18px;
        border-bottom: 1px solid #aeaeae;
        margin-left: -2px;
    }  
}
.verfication-code-div{
    ion-button{
        --background: none;
        --box-shadow: none;
        color: var(--background-top-header-text);
        font-size: 13px;
        font-family: 'roboto-regular';
        border-bottom: 1px solid #aeaeae;
        height: 50px;
        text-transform: capitalize;
        margin-left: -2px;
    }
    ion-input{
        height: 50px;
        font-size: 15px;
        font-family: 'roboto-regular';
        color: var(--background-top-header-text);
        --padding-start: 10px;
        --padding-end: 18px;
        border-bottom: 1px solid #aeaeae;
    }
}
.login-btn{
    width: 100%;
    --box-shadow: none;
    --background: #fe676c;
    color: #ffffff;
    font-size: 15px;
    font-family: 'roboto-regular';
    text-transform: capitalize;
    border-radius: 30px;
    --border-radius: 30px;
    height: 45px;
    margin-top: 30px;
}
.or-txt{
    font-size: 19px;
    font-family: "roboto-medium";
    color: #fe686c;
    text-align: center;
}
.login-with-qr{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    h3{
        font-size: 17px;
        text-align: center;
        font-family: 'roboto-medium';
        color: var(--background-top-header-text);
        letter-spacing: 0.9px;
        margin: 4px 0px 3px 0px;
    }
    img{
        width: 31%;
        margin: 13px auto 0px auto;
    }
}