<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" class="back-btn-effect" slot="start">
      <img class="back-btn" src="assets/imgs/chat-img/back.png">
    </ion-button>
    <ion-title class="profile-txt">
      Security
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>Turn on two factor authentication and check your list of connected device to keep your account posts safe Learn More. To turn on two-factor authentication, you must confirm Your Email and Set Password</h3>
    <h2>Connected Devices</h2>
    <h3>This is a list of devices that have logged into your account, Revok any session that you do not recognize. Hide Sessions</h3>
    <h2>Last Accessed</h2>
    <h3>August 30, 2020 12:25AM</h3>
    <h2>Location</h2>
    <h3>Berlin, Germany (based on IP = 103.233.24.5)</h3>
    <h2>Device Type</h2>
    <h3>Mobile Phone</h3>
  </div>
</ion-content>
