
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
ion-header{
    box-shadow: none !important;
    ion-toolbar{
        padding-bottom: 0px;
        svg{
            fill: var(--background-top-header-text);
            width: 16px;
            height: 16px;
        }
    }
}
ion-content{
    --background: var(--ion-color-background);
    --padding-start: 15px;
    --padding-top: 5px;
    --padding-end: 15px;
}
.app-logo-div{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    img{
        width: 12%;
    }
    h3{
        color: var(--background-top-header-text);
        font-family: 'maven-exbold';
        font-size: 20px;
        margin: 0px 0px 0px 7px;
    }
}
.enter-info-wrap-div{
    margin: 70px 0px 0px 0px;
}
.picture-name{
    text-align: center;
    font-size: 17px;
    font-family: 'roboto-regular';
    // margin: 25px 20px 50px 20px;
}
.upload-picture-div{
    display: grid;
    justify-content: center;
    width: 170px;
    margin: auto;
    height: 172px;
    background: var(--ion-color-upload-picture-div-color);
    border-radius: 14px;
    align-content: center;
    svg{
        fill: var(--background-top-header-text);
        width: 40px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    h3{
        font-size: 15px;
        font-family: 'roboto-regular';
        margin: 8px 0px;
        color: var(--background-top-header-text);
    }
    img{
        border-radius: 14px;
        width: 170px;
        height: 172px;
        object-fit: cover;
    }
}
ion-textarea{
    text-align: center;
    margin: 30px 0px;
    font-size: 20px;
    font-family: 'roboto-regular';
}
.confirm-btn{
    width: 75%;
    --box-shadow: none;
    --background: #fe676c;
    color: #ffffff;
    font-size: 15px;
    font-family: 'roboto-regular';
    text-transform: capitalize;
    border-radius: 30px;
    --border-radius: 30px;
    height: 45px;
    margin-top: 30px;
}