<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" class="back-btn-effect" slot="start">
      <img class="back-btn" src="assets/imgs/chat-img/back.png">
    </ion-button>
    <ion-title class="profile-txt">
      Apps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h3>Keep track of everywhere you have login with your pintik profile and remove access from apps you are no longer using with MLZ Learn more</h3>
    <h4>You have not approved any app</h4>
  </div>

</ion-content>
