<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" class="back-btn-effect" slot="start">
      <img class="back-btn" src="assets/imgs/chat-img/back.png">
    </ion-button>
    <ion-title class="profile-txt">
      Privacy & Data
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="top-detail-txt">Decide whether your profile will be hidden from search engine and what kind of data you want to use to imporve the recommendation and ads you see Learn more</h3>

  <ion-item button>
    <ion-label>
      <h3>Search Privacy</h3>
      <h4>Hide your profile from search engine (Ex.google) Learn more</h4>
    </ion-label>
    <ion-thumbnail>
      <ion-toggle></ion-toggle>
    </ion-thumbnail>
  </ion-item>

  <h3 class="personalization-txt">Personalization</h3>
  <ion-item button>
    <ion-label>
      <h3>Search Privacy</h3>
      <h4>use sites you visit to improve which recommendation and ads you see. Learn more</h4>
    </ion-label>
    <ion-thumbnail>
      <ion-toggle></ion-toggle>
    </ion-thumbnail>
  </ion-item>
  <ion-item button>
    <ion-label>
      <h3>Search Privacy</h3>
      <h4>use information from our partners to improve which ads you seeLearn more</h4>
    </ion-label>
    <ion-thumbnail>
      <ion-toggle></ion-toggle>
    </ion-thumbnail>
  </ion-item>

</ion-content>
